In [3]:
!pip install pandas scikit-learn joblib

Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: scikit-learn in ./venv/lib/python3.12/site-packages (1.7.1)
Requirement already satisfied: joblib in ./venv/lib/python3.12/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in ./venv/lib/python3.12/site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./venv/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [4]:
import pandas as pd
df = pd.read_csv("careers_dataset.csv")

In [5]:
df

,CandidateID,Name,Age,Education,Skills,Interests,Recommended_Career,Recommendation_Score
0,1,John Doe,28,Bachelor's,Python;Data Analysis;Machine Learning,Technology;Data Science,Data Scientist,0.95
1,2,Jane Smith,32,Master's,Java;System Design;Cloud Computing,Software Development;AI,Software Engineer,0.90
2,3,Bob Johnson,24,Bachelor's,Graphic Design;UI/UX;Adobe Creative Suite,Arts;Digital Media,UX Designer,0.88
3,4,Emily Davis,26,Bachelor's,Python;Deep Learning;Statistics,Healthcare;AI,AI Researcher,0.93
4,5,Michael Brown,30,Master's,Project Management;Communication;Agile,Business;Management,Project Manager,0.87
...,...,...,...,...,...,...,...,...
195,196,Easton Perry,38,Bachelor's,Copywriting;SEO;Social Media,Finance;Analytics,UX Researcher,0.94
196,197,Aurora Jenkins,39,Master's,Network Security;Linux;Python,Marketing;Communications,Cybersecurity Specialist,0.95
197,198,Camden Collins,40,PhD,C#;.NET;Software Design,Cybersecurity;Technology,Data Analyst,0.85
198,199,Hazel Gray,41,Bachelor's,Data Visualization;Python;R,Academia;Research,Cloud Engineer,0.86
199,200,Micah Long,22,Master's,Machine Learning;Big Data;Python,Web Development;Design,Graphic Designer,0.87

In [6]:
df.head()

,CandidateID,Name,Age,Education,Skills,Interests,Recommended_Career,Recommendation_Score
0,1,John Doe,28,Bachelor's,Python;Data Analysis;Machine Learning,Technology;Data Science,Data Scientist,0.95
1,2,Jane Smith,32,Master's,Java;System Design;Cloud Computing,Software Development;AI,Software Engineer,0.90
2,3,Bob Johnson,24,Bachelor's,Graphic Design;UI/UX;Adobe Creative Suite,Arts;Digital Media,UX Designer,0.88
3,4,Emily Davis,26,Bachelor's,Python;Deep Learning;Statistics,Healthcare;AI,AI Researcher,0.93
4,5,Michael Brown,30,Master's,Project Management;Communication;Agile,Business;Management,Project Manager,0.87

In [7]:
df = df.drop(columns=['CandidateID', 'Name', 'Recommendation_Score'])

In [8]:
df.head()

,Age,Education,Skills,Interests,Recommended_Career
0,28,Bachelor's,Python;Data Analysis;Machine Learning,Technology;Data Science,Data Scientist
1,32,Master's,Java;System Design;Cloud Computing,Software Development;AI,Software Engineer
2,24,Bachelor's,Graphic Design;UI/UX;Adobe Creative Suite,Arts;Digital Media,UX Designer
3,26,Bachelor's,Python;Deep Learning;Statistics,Healthcare;AI,AI Researcher
4,30,Master's,Project Management;Communication;Agile,Business;Management,Project Manager

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le_education = LabelEncoder()

In [11]:
df['Education'] = le_education.fit_transform(df['Education'])

In [12]:
df.head()

,Age,Education,Skills,Interests,Recommended_Career
0,28,0,Python;Data Analysis;Machine Learning,Technology;Data Science,Data Scientist
1,32,1,Java;System Design;Cloud Computing,Software Development;AI,Software Engineer
2,24,0,Graphic Design;UI/UX;Adobe Creative Suite,Arts;Digital Media,UX Designer
3,26,0,Python;Deep Learning;Statistics,Healthcare;AI,AI Researcher
4,30,1,Project Management;Communication;Agile,Business;Management,Project Manager

In [13]:
df

,Age,Education,Skills,Interests,Recommended_Career
0,28,0,Python;Data Analysis;Machine Learning,Technology;Data Science,Data Scientist
1,32,1,Java;System Design;Cloud Computing,Software Development;AI,Software Engineer
2,24,0,Graphic Design;UI/UX;Adobe Creative Suite,Arts;Digital Media,UX Designer
3,26,0,Python;Deep Learning;Statistics,Healthcare;AI,AI Researcher
4,30,1,Project Management;Communication;Agile,Business;Management,Project Manager
...,...,...,...,...,...
195,38,0,Copywriting;SEO;Social Media,Finance;Analytics,UX Researcher
196,39,1,Network Security;Linux;Python,Marketing;Communications,Cybersecurity Specialist
197,40,2,C#;.NET;Software Design,Cybersecurity;Technology,Data Analyst
198,41,0,Data Visualization;Python;R,Academia;Research,Cloud Engineer
199,22,1,Machine Learning;Big Data;Python,Web Development;Design,Graphic Designer

In [14]:
skills_series = df['Skills'].str.split(';')

In [15]:
unique_skills = sorted(set(skill for sublist in skills_series for skill in sublist))

In [16]:
for skill in unique_skills:
    df[skill] = df['Skills'].apply(lambda x: 1 if skill in x else 0)

In [17]:
df = df.drop(columns=['Skills'])

In [18]:
df.head()

,Age,Education,Interests,Recommended_Career,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,...,Storytelling,System Design,TensorFlow,UI Design,UI/UX,UX,UX Design,UX Research,UX/UI,User Research
0,28,0,Technology;Data Science,Data Scientist,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,32,1,Software Development;AI,Software Engineer,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,24,0,Arts;Digital Media,UX Designer,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,26,0,Healthcare;AI,AI Researcher,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,Business;Management,Project Manager,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
interests_series = df['Interests'].str.split(';')

In [20]:
unique_interests = sorted(set(interest for sublist in interests_series for interest in sublist))

In [21]:
for interest in unique_interests:
    df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)

/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)
/var/folders/n3/9w0t_mhx4c97sfq5nqbqk1pw0000gn/T/ipykernel_99080/1171540525.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[interest] = df['Interests'].apply(lambda x: 1 if interest in x else 0)

In [22]:
df = df.drop(columns=['Interests'])

In [23]:
df.head()

,Age,Education,Recommended_Career,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,Agile,...,Marketing,Media,Mobile Apps,Security,Software Development,Software Engineering,Technology,User Experience,Web Design,Web Development
0,28,0,Data Scientist,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,32,1,Software Engineer,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24,0,UX Designer,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,26,0,AI Researcher,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,Project Manager,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [24]:
le_career = LabelEncoder()

In [25]:
df['Recommended_Career'] = le_career.fit_transform(df['Recommended_Career'])

In [26]:
df.head()

,Age,Education,Recommended_Career,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,Agile,...,Marketing,Media,Mobile Apps,Security,Software Development,Software Engineering,Technology,User Experience,Web Design,Web Development
0,28,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,32,1,29,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24,0,30,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,26,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,25,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df.head()

,Age,Education,Recommended_Career,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,Agile,...,Marketing,Media,Mobile Apps,Security,Software Development,Software Engineering,Technology,User Experience,Web Design,Web Development
0,28,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,32,1,29,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24,0,30,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,26,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,25,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [56]:
df.head()

,Age,Education,Recommended_Career,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,Agile,...,Marketing,Media,Mobile Apps,Security,Software Development,Software Engineering,Technology,User Experience,Web Design,Web Development
0,28,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,32,1,29,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24,0,30,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,26,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,25,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [58]:
df

,Age,Education,Recommended_Career,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,Agile,...,Marketing,Media,Mobile Apps,Security,Software Development,Software Engineering,Technology,User Experience,Web Design,Web Development
0,28,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,32,1,29,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24,0,30,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,26,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,25,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,38,0,31,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,39,1,9,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
197,40,2,10,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
198,41,0,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,22,1,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [60]:
x = df.drop(columns=['Recommended_Career'])

In [62]:
x

,Age,Education,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,Agile,Algorithms,...,Marketing,Media,Mobile Apps,Security,Software Development,Software Engineering,Technology,User Experience,Web Design,Web Development
0,28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,32,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,26,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,39,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
197,40,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
198,41,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,22,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [64]:
df

,Age,Education,Recommended_Career,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,Agile,...,Marketing,Media,Mobile Apps,Security,Software Development,Software Engineering,Technology,User Experience,Web Design,Web Development
0,28,0,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,32,1,29,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24,0,30,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,26,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,25,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,38,0,31,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,39,1,9,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
197,40,2,10,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
198,41,0,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,22,1,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [66]:
y = df["Recommended_Career"]

In [68]:
y

0      12
1      29
2      30
3       0
4      25
       ..
195    31
196     9
197    10
198     6
199    20
Name: Recommended_Career, Length: 200, dtype: int64

In [76]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [78]:
from sklearn.ensemble import RandomForestClassifier

In [80]:
model = RandomForestClassifier()

In [82]:
model.fit(X_train,Y_train)

RandomForestClassifier()

In [84]:
from sklearn.metrics import accuracy_score

In [86]:
y_pred = model.predict(X_test)

In [90]:
accuracy = accuracy_score(Y_test, y_pred)

In [92]:
print(accuracy)

0.475

In [96]:
from sklearn.metrics import confusion_matrix, classification_report

y_pred = model.predict(X_test)
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           2       0.50      1.00      0.67         1
           3       0.50      1.00      0.67         1
           4       0.00      0.00      0.00         2
           5       1.00      0.50      0.67         2
           6       0.00      0.00      0.00         1
           7       0.00      0.00      0.00         1
           8       1.00      0.33      0.50         3
          10       0.00      0.00      0.00         4
          11       0.00      0.00      0.00         0
          12       1.00      0.50      0.67         2
          13       0.00      0.00      0.00         1
          14       0.00      0.00      0.00         0
          15       1.00      0.60      0.75         5
          16       0.33      1.00      0.50         1
          17       0.67      1.00      0.80         2
          18       1.00      1.00      1.00         1
          19       0.50      1.00      0.67         1
          20       1.00      0.50      0.67         2
          21       0.00      0.00      0.00         1
          23       1.00      1.00      1.00         1
          24       0.00      0.00      0.00         1
          25       1.00      0.50      0.67         2
          26       0.00      0.00      0.00         1
          27       0.50      1.00      0.67         1
          28       0.33      1.00      0.50         1
          30       0.00      0.00      0.00         1
          31       0.33      1.00      0.50         1

    accuracy                           0.47        40
   macro avg       0.43      0.48      0.40        40
weighted avg       0.56      0.47      0.46        40

/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1531: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [100]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, x, y, cv=5)
print("Cross-validated accuracy:", scores.mean())

/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_split.py:776: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(

Cross-validated accuracy: 0.4

In [102]:
x

,Age,Education,.NET,AI,Adobe Creative Suite,Adobe Illustrator,Adobe Photoshop,Adobe XD,Agile,Algorithms,...,Marketing,Media,Mobile Apps,Security,Software Development,Software Engineering,Technology,User Experience,Web Design,Web Development
0,28,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,32,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,24,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,26,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,39,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
197,40,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
198,41,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,22,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1